/* All screens */

.container {
    max-width: 700px;
}

.navbar {
    background-color: #282828;
}

/* Large screens */

@media (min-width: 500px) {

    h2 {
        margin-top: -4rem;
        padding-top: 4rem;
    }

}

/* Mobile screens */

@media only screen and (max-width: 600px) {

    h2 {
        margin-top: -10rem;
        padding-top: 10rem;
    }

}
