/* All screens */

.container {
    max-width: 700px;
}

.navbar {
    background-color: #282828;
}

h2 {
    margin-top: 3rem;
    scroll-margin-top: 5rem;
}

/* Mobile screens */

@media only screen and (max-width: 600px) {

    h2 {
        scroll-margin-top: 10rem;
    }

}
